* {
    margin: 0;
    box-sizing: border-box;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.container {
    background: #d0e1ff;
}

.h-100 {
    height: 100vh;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center !important;
}

.align-items-center {
    align-items: center;
}

/* .calculator {
    background: #fce7fa;
} */

.h-auto {
    height: auto;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}


.circle-body {
    background: #e14a00;
    border-radius: 50%;
    padding: 10px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.headerCalculator {
    background: #4f555b;
    padding: 15px;
    border-radius: 5px;
}

.headerCalculator>input {
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.btn {
    background: #f19416;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
    width: 74px;
    cursor: pointer;
    display: flex;
    border: 1px solid #f19416;
    justify-content: center;
    align-items: center;
    box-shadow:
        0 20px 25px -5px var(--tw-shadow-color, lab(0% 0 0 / .3)), 0 8px 10px -6px var(--tw-shadow-color, lab(0% 0 0 / .3));
}

.bodyCalculator {
    background: #fbb03d;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

.calculator {
    width: 75%;
    background: #e5a038;
}

.information {
    background: #dceeff;
    color: black;
}